<div class="container emp-profile">
    <form novalidate>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img [src]="myUser?.photoUrl" alt="{{myUser?.firstName || myUser?.fname}}"/>
            <div class="file btn btn-lg btn-primary">
              Change Photo
              <input name="file" type="file"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
        
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab"
                   role="tab">Last 5 orders</a>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <button (click)="logout()" class="btn btn-secondary btn-sm" name="btnAddMore" type="button">Logout</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <p style="background-color: black; font-weight: bold;color: white; text-align: center;">Identification</p>
            <div class="row">
              <div class="col-md-4">
                <label><strong>Email:</strong></label>
              </div>
              <div class="col-md-4">
                <p>{{myUser.email}}</p>
              </div>
              <div class="col-md-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label><strong>Name:</strong></label>
              </div>
              <div class="col-md-4">
                <p>{{myUser.name || myUser.username}}</p>
              </div>
              <div class="col-md-4">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
              <table class="table table-striped">  
                <thead>  
                    <tr>  
                        <th> Id</th>  
                        <th> Date </th>   
                        <th> amont Total </th>  
                    </tr>  
                </thead>  
                     <tbody>  
                    <tr>  
                        <th scope="row">1 </th>  
                        <td> 01/15/2022 </td>  
                        <td> $2500 </td>  
                    </tr>  
                    <tr>  
                        <th scope="row">2 </th>  
                        <td> 01/05/2022 </td>   
                        <td> $500 </td>  
                        
                    </tr>  
                    <tr>  
                        <th scope="row">3 </th>  
                        <td> 07/10/2021 </td>   
                        <td> $1200 </td>  
                    </tr>  
                    <tr>  
                        <th scope="row">4 </th>  
                        <td> 05/19/2021 </td>    
                        <td> $20 </td>  
                    </tr>  
                     <tr>  
                        <th scope="row">5 </th>  
                        <td> 01/15/2021 </td>   
                        <td> $600</td>  
                    </tr>  
                   
                </tbody>  
            </table>  
             
            </div>
            
          </div>
        </div>
      </div>
    </form>
  </div>